.root {
    text-align: center;
    margin: 100px 0;

    p {
        margin-bottom: 40px;
        font-weight: 600;
    }

    a {
        color: #fe5f1e;
        text-decoration: underline;
    }
}